@media (max-width: 23.4375em) {
  .result-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    border-radius: 0px;
  }

  .result {
    /* display: inline-block; */
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  html {
    font-size: 56.25%;
  }

  body {
    margin: 0;
  }

  .main-div {
    margin: 0;
  }
}
